<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/project_organization">Project Organization </a></li>
	        		<li><a href="/data_management">Data Management</a></li>
	        		<li><a href="/programming_support">Programming Support</a></li>
	        		<li><a href="/plotting_pointers">Plotting Pointers</a></li>
	        		<li><a href="/report_writing">Report Writing</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:cogstyleguide@gmail.com">email</a></li>
	        		<li><a href="https://github.com/CogStyle">github.com/CogStyle</a></li>
				</ul>
			</footer>
		</body>
	</html>